.dateFilterContainer{
    display: flex;    
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.datePickerContainer{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-right: 10px;
}
.react-datepicker-wrapper{
    margin-left: 10px;
}
.react-datepicker-wrapper input{
    width: 110px;
}
